/**
 * MAP OVER DENMARK
 * -----------------
 * 
 * Styling of the MAP area, hidden text-object and table.
 * 
 */

#map {
    margin: 0 auto;
    max-width: 1200px;
    height: auto;
}

/* Hidden element, which shows text */

#map #information-marker {
    display: none;
    position: absolute;
    z-index: 1000;
    color: white;
    background-color: #00a0df;
    padding: 10px;
    width: 160px;
    justify-items: center;
    gap: 5px;
    border-radius: 10px;
}

/* Used for the text element that shows the number */
#information-marker-title {
    font-weight: bold;
    font-size: 18px;
}

#map #information-marker::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: #00a0df;
    border-bottom: 0;
    border-left: 0;
    margin-left: -10px;
    margin-bottom: -20px;
}

/* Design of the table */

#map table {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#cell-one-map {
    background-color: #add8e6;
}

#cell-two-map {
    background-color: hsl(0, 82%, 82%);
}

#cell-three-map {
    background-color: hsl(0, 82%, 65%);
}

#cell-four-map {
    background-color: hsl(0, 82%, 57%);
}

#cell-five-map {
    background-color: hsl(0, 82%, 52%);
}

#cell-six-map {
    background-color: hsl(0, 82%, 42%);
}

/* SVG Line */
#map .st1 {
    stroke: #dcdcdc;
}

/* SVG base colors */

#albertslund,
#alleroed,
#assens,
#ballerup,
#billund,
#broendby,
#broenderslev,
#dragoer,
#egedal,
#esbjerg,
#fanoe,
#favrskov,
#faxe,
#fredensborg,
#fredericia,
#frederiksberg,
#frederikshavn,
#frederikssund,
#furesoe,
#faaborg-midtfyn,
#gentofte,
#gladsaxe,
#glostrup,
#greve,
#gribskov,
#guldborgsund,
#haderslev,
#halsnaes,
#helsingoer,
#herlev,
#hilleroed,
#hjoerring,
#holbaek,
#holstebro,
#horsens,
#hoersholm,
#hvidovre,
#hedensted,
#herning,
#hoeje-taastrup,
#ikast-brande,
#ishoej,
#jammerbugt,
#kalundborg,
#kerteminde,
#kolding,
#koebenhavn,
#koege,
#langeland,
#lejre,
#lemvig,
#lolland,
#lyngby-taarbaek,
#laesoe,
#mariagerfjord,
#middelfart,
#morsoe,
#norddjurs,
#nordfyn,
#nyborg,
#naestved,
#odder,
#odense,
#odsherred,
#randers,
#rebild,
#ringkoebing-skjern,
#ringsted,
#roskilde,
#rudersdal,
#roedovre,
#samsoe,
#silkeborg,
#skanderborg,
#skive,
#slagelse,
#solroed,
#soroe,
#stevns,
#struer,
#svendborg,
#syddjurs,
#soenderborg,
#thisted,
#toender,
#taarnby,
#vallensbaek,
#varde,
#vejen,
#vejle,
#vesthimmerlands,
#viborg,
#vordingborg,
#aeroe,
#aabenraa,
#aalborg,
#aarhus,
#bugt {
    fill: #add8e6;
    stroke: #add8e6;
    stroke-width: 1px;
}